<template>
  <div class="container">
    <b-table striped hover :items="items"></b-table>
  </div>
</template>

<script>
export default {
  async asyncData({ app, params, $axios }) {
    let result = undefined;
    app.$myInjectedFunction('works in asyncData');
    try {
      result = await $axios.$get('/api/allergen/all');
      console.error('Esto es el resultado de la petición asycData --> ', result);
    } catch (e) {
      console.error('Ha ocurrido un error en la petición!! --> ', e);
    }
    return { allergen: result };
  },
  async beforeMount() {
    try {
      this.establishment = await this.$axios.$get('/api/establishment/all');
      console.error('Esto es el resultado de la petición --> ', this.establishment);
    } catch (e) {
      console.error('Error al realizar la petición!! -->', e);
    }
  },
  mounted() {
    this.$myInjectedFunction('Esto es en mounted');
  },
  data() {
    return {
      items: [
        { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
        { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
        { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
        { age: 38, first_name: 'Jami', last_name: 'Carney' },
      ],
      allergen: {},
      establishment: [],
    };
  },
};
</script>

<style></style>
