<template>
  <div class="login-form">
    <b-card class="border-radius-m">
      <div class="login-card-header d-flex flex-column justify-content-center">
        <logo class="logo mb-1" />
        <h2 class="text-center">Login</h2>
      </div>
      <b-input-group size="md" class="mb-2">
        <b-input-group-prepend is-text>
          <b-icon-person></b-icon-person>
        </b-input-group-prepend>
        <b-form-input
          v-model="value.email"
          lazy-formatter
          :formatter="formatter"
          :blur="onBlur('email')"
          placeholder="Introduzca su email"
          type="email"
        ></b-form-input>
      </b-input-group>
      <b-input-group size="md" class="mb-2">
        <b-input-group-prepend is-text>
          <b-icon-lock></b-icon-lock>
        </b-input-group-prepend>
        <b-form-input
          v-model="value.passwd"
          lazy-formatter
          :formatter="formatter"
          :blur="onBlur('passwd')"
          placeholder="Introduzca su contraseña"
          type="password"
        ></b-form-input>
      </b-input-group>
      <div class="actions d-flex justify-content-between align-items-center mt-3">
        <b-button class="button-gradient" @click="$emit('click')">Acceder</b-button>
        <span class="remember">¿Has olvidado la contraseña?</span>
      </div>
    </b-card>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import Logo from '@/components/Logo.vue';
import { BIconPerson, BIconLock, BIconEye, BIconEyeSlash } from 'bootstrap-vue';

interface Login {
  email: string | boolean;
  passwd: string | boolean;
}

interface Data {
  initialState: any;
}

export default Vue.extend({
  components: { Logo, BIconPerson, BIconLock, BIconEye, BIconEyeSlash },
  beforeMount() {
    if (this.value.email === undefined || this.value.passwd === undefined) {
      let email = this.value.email === undefined ? '' : this.value.email;
      let passwd = this.value.passwd === undefined ? '' : this.value.passwd;
      this.$emit('input', { email, passwd });
    }
  },
  props: {
    value: {
      type: Object,
      required: true,
    } as PropOptions<Login>,
  },
  data(): Data {
    return {
      initialState: { email: false, passwd: false },
    };
  },
  computed: {
    states(): Login {
      return {
        email: this.value.email === undefined || this.value.email === '' ? false : true,
        passwd: this.value.passwd === undefined || this.value.passwd === '' ? false : true,
      };
    },
  },
  methods: {
    formatter(value: string): string {
      return value.trim();
    },
    onBlur(opt: string): void {
      this.initialState[opt] = true;
    },
  },
});
</script>

<style lang="scss">
.login-form {
  width: $card-login-width;
  min-width: $card-login-min-width;

  .logo {
    width: 50%;
    height: auto;
  }

  .remember {
    cursor: pointer;
    transition: color 0.5s ease;

    &:hover {
      color: $primary-color;
    }
  }
}
</style>
