@import '~/assets/styles/variables.scss';

// Border radius
$border-radius-map: (
  's': $border-radius-small,
  'm': $border-radius-medium,
  'l': $border-radius-large,
  'xl': $border-radius-extra-large,
);
@each $type, $value in $border-radius-map {
  .border-radius-#{$type} {
    border-radius: #{$value};
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.button-gradient {
  background: rgba(29, 135, 117, 1);
  background: -moz-linear-gradient(left, rgba(29, 135, 117, 1) 0%, rgba(0, 86, 71, 0.88) 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(29, 135, 117, 1)),
    color-stop(100%, rgba(0, 86, 71, 0.88))
  );
  background: -webkit-linear-gradient(left, rgba(29, 135, 117, 1) 0%, rgba(0, 86, 71, 0.88) 100%);
  background: -o-linear-gradient(left, rgba(29, 135, 117, 1) 0%, rgba(0, 86, 71, 0.88) 100%);
  background: -ms-linear-gradient(left, rgba(29, 135, 117, 1) 0%, rgba(0, 86, 71, 0.88) 100%);
  background: linear-gradient(to right, rgba(29, 135, 117, 1) 0%, rgba(0, 86, 71, 0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d8775', endColorstr='#005647', GradientType=1 );
}
