//Pallete
$primary-color: #1d8775;
$secondary-color: #0e6e5e;
$secondary-darkness: #005647;

$border-radius-small: 4px;
$border-radius-medium: 10px;
$border-radius-large: 16px;
$border-radius-extra-large: 24px;

// Login
$overlay-color: #1d8775;
$overlay-opacity: 0.45;
$card-login-width: 25%;
$card-login-min-width: 350px;
