<template>
  <div class="login">
    <div class="video-wrapper">
      <div class="video_contain">
        <video :src="require('~/assets/video/background.mp4')" autoplay="true" loop="true"></video>
      </div>
    </div>
    <div class="header-overlay"></div>
    <div class="login-container d-flex align-items-center justify-content-center">
      <login-form v-model="algo" @click="loginAction"></login-form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import loginForm from '@/components/loginForm.vue';
import { ENUMS, ACTIONS } from '@/utils/store-hub';
import { userStore } from '@/store';

interface Data {
  algo: any;
  ENUMS: any;
  ACTIONS: any;
  userStore: any;
}

export default Vue.extend({
  components: {
    loginForm,
  },
  data(): Data {
    return {
      algo: { email: 'nacho_pena@hotmail.com', passwd: '1234' },
      ENUMS,
      ACTIONS,
      userStore,
    };
  },
  methods: {
    async loginAction() {
      let result = await this.$store.dispatch(this.ACTIONS.userActions[this.ENUMS.UserActions.GET_ALL_USERS]);
      console.error('Esto es la respuesta --> ', result);
    },
  },
});
</script>

<style lang="scss">
.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $overlay-color;
  opacity: $overlay-opacity;
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.video_contain {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

.video-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.login-form {
  z-index: 3;
}

.login-container {
  width: 100%;
  height: 100vh;
}
</style>
